---
layout: single
classes: wide
---

<h2 id="overview">Projects</h2>
<ul>
  <li>
    <p>Reentrancy Smart Contract Hack - <a href="https://goerli.etherscan.io/tx/0xa5de2ec424f89dc06c2dcb5b2dace63fe6b0dca260268945bc5e19466d2260d5">Transaction</a></p>
  </li>
  <li>
    <p>Deploying mintable ERC20 Token - <a href="https://kovan.etherscan.io/address/0xcaf3bae1b73fb80722d00ddb1f3edd76c1bf9a17">Gold Token</a></p>
  </li>
</ul>
<h2 id="overview">Education</h2>
<ul>
  <li>
    <p>University of San Francisco</p>
    <ul>
      <li>M.S. Data Science</li>
    </ul>
  </li>
  <li>
    <p>Johns Hopkins University</p>
    <ul>
      <li>B.S. Applied Mathematics</li>
      <li>B.S. Chemical Engineering</li>
      <li>3.8/4.0</li>
    </ul>
  </li>
</ul>
<h2 id="engineering-research-interests">Engineering Interests</h2>
<ul>
  <li>Data mining large blockchain datasets</li>
  <li>Building low-latency data tools to monitor blockchains</li>
  <li>
    Applying deep neural nets to audio generation, price prediction, and other
    cool domains
  </li>
</ul>
<h2 id="fun-facts">Fun Facts</h2>
<ul>
  <li>🏎 Quite good at Mario Kart</li>
  <li>🎹 Piano player and am working on my karaoke skills</li>
  <li>
    🔥 Favorite album:
    <a href="https://youtu.be/86RL3kRbksQ">Tickets to My Downfall</a> by MGK
  </li>
</ul>