---
layout: single
classes: wide
---

<h2 id="overview"> <a href="projects"> Projects</a></h2>
<h2 id="overview">Education</h2>
<ul>
  <li>
    <p>University of San Francisco</p>
    <ul>
      <li>M.S. Data Science</li>
    </ul>
  </li>
  <li>
    <p>Johns Hopkins University</p>
    <ul>
      <li>B.S. Applied Mathematics</li>
      <li>B.S. Chemical Engineering</li>
      <li>3.8/4.0</li>
    </ul>
  </li>
</ul>
<h2 id="engineering-research-interests">Engineering Interests</h2>
<ul>
  <li>Data mining large blockchain datasets</li>
  <li>Building low-latency data tools to monitor blockchains</li>
  <li>
    Applying deep neural nets to audio generation, price prediction, and other
    cool domains
  </li>
</ul>
<h2 id="fun-facts">Fun Facts</h2>
🏎 Quite good at Mario Kart<br><br>
🎹 Piano player and am working on my karaoke skills<br><br>
🧡 Favorite song:
    <a href="https://www.youtube.com/watch?v=6tjlU4w4fSo">Love Yourz</a> by J. Cole<br>
